<!DOCTYPE html>
<html>
    <head>
        <title>List of players</title>
        <meta charset="utf8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">scoreDEI</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/listMatches">Matches</a></li>
            <li><a href="/listTeams">Teams</a></li>
            <li class="active"><a href="#">Players</a></li>
            <li><a href="/statistics">Statistics</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/loginUser"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
        <h1 class="text-center">List of Players</h1>
  
        <table border="1" class="table table-striped">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>POSITION</th>
            <th>BIRTHDATE</th>
            <th>TEAM</th>  
          </tr>
          <tr th:each="t : ${players}">
            <td th:text="${t.id}">id</td>
            <td th:text="${t.name}">name</td>
            <td th:text="${t.position}">position></td>
            <td th:text="${t.birthdate}">birthdate></td>
            <td th:text="${t.team}">team</td>
          </tr>
        </table>
    </body>
</html>