<!DOCTYPE html>
<html>
    <head>
        <title>List of Events</title>
        <meta charset="utf8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">scoreDEI</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/listMatches">Matches</a></li>
            <li><a href="/listTeams">Teams</a></li>
            <li><a href="/listPlayers">Players</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="#">                        </a></li>
            <li class="active"><a href="#">All Events</a></li>
            <li><a href="/listUsers">Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form th:action="@{/logout}" method="post" style="margin-top: 8px;">
                <div="form-row">
                    <button class="btn btn-link" type="submit"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                </div>
              </form>
          </ul>
        </div>
      </nav>

        <h1 class="text-center">List of Events</h1>
  
        <table border="1" class="table table-striped">
          <tr>
            <th>ID</th>
            <th>TYPE</th>
            <th>TIME</th>
            <th>PLAYER</th>
          </tr>
          <tr th:each="t : ${events}">
            <td th:text="${t.id}">id</td>
            <td th:text="${t.type}">type</td>
            <td th:text="${t.time}">time</td>
            <td th:text="${t.getPlayer().getName()}">player</td>
          </tr>
        </table>   
    </body>
</html>